*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{

background:#1B1B1B;
font-family:sans-serif;
color:white;

}

.container{

padding:40px;
text-align:center;
min-height:100vh;

}

h1{

color:#FF6B00;
margin-bottom:30px;

}

.cards{

display:flex;
gap:25px;
justify-content:center;
flex-wrap:wrap;

}

.card{

background:#2A2A2A;
padding:25px;
border-radius:16px;
width:320px;

border:2px solid #90EE90;

box-shadow:
0 0 20px rgba(255,107,0,.3);

}

.time{

font-size:2.3rem;
color:#90EE90;
font-weight:bold;
margin:20px 0;

}

.buttons{

display:flex;
gap:10px;
justify-content:center;

}

button{

padding:12px 18px;

border:none;

background:#FF6B00;

color:white;

font-weight:700;

border-radius:10px;

cursor:pointer;

transition:.3s;

}

button:hover{

background:#e65c00;

transform:scale(1.05);

}

input{

width:100%;

padding:12px;

margin:15px 0;

border:none;

outline:none;

border-radius:10px;

background:#ebffeb;

}

@media(max-width:700px){

.cards{

flex-direction:column;
align-items:center;

}

}